body{
    background-color: gray;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    }
.container{
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 40px auto;
  justify-content: center;
  background-color:floralwhite;
  width: 800px;
  height: 700px;
  padding-top: 1rem;
 
   
}
.container-sm{
    border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 40px auto;
  justify-content: center;
  background-color:rgb(116, 232, 236);
  width: 400px;
  height: 500px;
  padding-top: 1rem;
}