body, html {
    font-family: 'Open Sans', sans-serif;
    color: #6a859c;
    font-size: 16px;
    line-height: 20px;
  }
/* .navbar{
    z-index: 1000;
} */
  .hero-image {
    padding-top: 195px;
    padding-bottom: 195px;
    border-bottom: 4px solid #69b9ff;
    background-image: linear-gradient(180deg, rgba(46, 157, 255, 0.5), rgba(46, 157, 255, 0.22)), url("banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
    height: 500px;
    
}
  
  
  .hero-heading {
    margin-bottom: 30px;
    color: #fff;
    font-size: 60px;
    line-height: 60px;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.hero-subheading{
    margin-bottom: 40px;
    color: #2e9dff;
    font-size: 25px;
    line-height: 25px;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}
.section{
    position: relative;
    padding: 80px 10px;
    background-color: #fff;
    text-align: center;
}
.heading-center{
    color: #676770;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.subheading-center {
    color: #8e8e9c;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.white-box {
    padding: 15px;
    border: 1px solid #dcebf7;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}
@media screen and (max-width: 767px){
    .white-box {
        margin-bottom: 30px;
    }
}

.grid-image {
    display: block;
    width: 35%;
    margin: 20px auto;
    border: 10px solid #fff;
    border-radius: 50%;
    background-color: #69b9ff;
    box-shadow: 0 0 0 1px #2e9dff;
}
@media screen and (max-width: 767px){
    .grid-image {
        width: 20%;
        padding: 20px;
    }
}
img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #676770;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 7px;
    text-transform: uppercase;
}
p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
}
.section.accent{
    background-color: black;
}
.white-box.transparent {
    border-style: none;
    background-color: transparent;
}
.heading-center.white{
    color: #fff;
}
.subheading-center.off-white{
    padding-bottom: 0px;
    color: #e8e8e8;
}
.fullwidth-image {
    width: 100%;
    margin-bottom: 20px;
}
.white-text {
    margin-bottom: 20px;
    color: #fff;
}
.hollow-button {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 4px;
    transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
    color: #fff;
    line-height: 21px;
    font-weight: 300;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}
a {
    background-color: transparent;
}
.footer-link {
    display: block;
    margin-bottom: 6px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d5d5e0;
    color: #f2f4f7;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
}
h5{
    margin-top: 0px;
    margin-bottom: 20px;
    color: white;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
}


.picture_menu .nav-tabs a {
    font-size: 16px;
    color: #0d1c26;
    padding: 45px 25px 25px;
    position: relative;
    
   
  }
  
  @media (max-width: 576px){ 

    .picture_menu .nav-tabs a {
      padding: 5px 10px 15px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {

    .picture_menu .nav-tabs a {
      padding: 20px 25px 25px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {

    .picture_menu .nav-tabs a {
      padding: 20px 25px 25px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {

    .picture_menu .nav-tabs a {
      padding: 35px 15px 15px;
    }
  }
  

  .picture_menu .nav-tabs a:last-child {
    padding: 45px 0px 20px 20px;
  }
  
  @media (max-width: 576px) {

    .picture_menu .nav-tabs a:last-child {
      padding: 5px 10px 15px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
      .picture_menu .nav-tabs a:last-child {
      padding: 20px 0px 20px 20px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
      .picture_menu .nav-tabs a:last-child {
      padding: 20px 0px 20px 20px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
      .picture_menu .nav-tabs a:last-child {
      padding: 35px 0px 15px 15px;
    }
  }
  .picture_menu .nav-tabs a img {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: rotate(90deg);
   
  }
  
  .picture_menu .nav-tabs .active {
    color: #ff6426;
  }
  
  .picture_menu .nav-tabs .active img {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: rotate(90deg);
    height: 14px;
    width: 10px;
    bottom: 8px;
  }
  
  .picture_menu .nav-tabs #TABUTTON1-tab img {
    left: 25px;
   
  }
  .picture_menu .single_food_item {
    margin-bottom: 50px;
    background-color: #fff;
    display: flex;
    min-height: 150px;
    -webkit-box-align: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    background-color: #fff;
    
    transition: border-color 300ms ease;
}
  
  
  @media (max-width: 576px) {
    /* line 80, E:/169 Dingo Restaurant/169 Dingo Restaurant/169_Dingo_Restautent_html/sass/_food_menu.scss */
    .picture_menu .single_food_item {
      margin-bottom: 20px;
      
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
      .picture_menu .single_food_item {
      margin-bottom: 20px;
      padding: 10px;
      flex-wrap: wrap;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
      .picture_menupicture_menufood_item {
      margin-bottom: 20px;
      padding: 10px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
      .picture_menupicture_menufood_item {
      margin-bottom: 30px;
    }
  }
  
  .picture_menupicture_menufood_item img {
    border-right: 5px solid #f6f5f1;
    
    padding: 1rem;
  }
  
  @media (max-width: 576px) {
      .picture_menupicture_menufood_item img {
      border-right: 0px solid #f6f5f1;
      margin: 0 auto;
      display: block;
      margin-right: auto !important;
      text-align: center;
      border-radius: 2px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
      .food_menu .single_food_item img {
      border-right: 0px solid #f6f5f1;
      margin: 0 auto;
      display: block;
      margin-right: auto !important;
      text-align: center;
      border-radius: 2px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
      .picture_menu .single__item img {
      border-right: 0px solid #f6f5f1;
      margin: 0 auto;
      display: block;
      margin-right: auto !important;
      text-align: center;
      border-radius: 50%;
    }
  }
  
   .picture_menu .single_item .media-body {
    padding-left: 26px;
  }
  
  @media (max-width: 576px) {
       .picture_menu .single_item .media-body {
      margin-top: 10px;
      padding-left: 00px;
      text-align: center;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
       .picture_menu .single_item .media-body {
      margin-top: 10px;
      padding-left: 00px;
      text-align: center;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    
    .picture_menu .single_item .media-body {
      margin-top: 10px;
      padding-left: 00px;
      text-align: center;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    
    .picture_menu .single_item .media-body {
      padding-left: 0px;
    }
  }
  
  
  .picture_menu .single_item .media-body h3 {
    font-size: 20px;
    font-weight: 700;
  }
  
  
  .picture_menu .single_item .media-body h5 {
    font-size: 20px;
    font-weight: 700;
    color: #ff6426;
    margin-top: 20px;
  }
  
  @media (max-width: 576px) {
    
    .picture_menu .single_item .media-body h5 {
      margin-top: 10px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    
    .picture_menu .single_item .media-body h5 {
      margin-top: 10px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    
    .picture_menu .single_item .media-body h5 {
      margin-top: 10px;
    }
  }
 
